.container {
  width: 66.5%;
  height: 600px;
}
.nav {
  list-style-type: none;
  background-color: white;
  width: 100%;
}
.nav ul {
  // border-radius: 5%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: center;
}
.nav li {
  display: inline-block;
  width: 33.3%;
  height: 50px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
}
.nav li:nth-child(1) {
  border-left: 2px solid #DFE5EC;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav li:nth-child(3) {
  border-right: 2px solid #DFE5EC;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav li {
  border-right: 2px solid #DFE5EC;
  border-top: 2px solid #DFE5EC;
  border-bottom: 2px solid #DFE5EC;
}
// .nav li:nth-child(3) {
//   // border-top: 2px solid #DFE5EC;
//   // border-right: 2px solid #DFE5EC;
//   // border-bottom: 2px solid #DFE5EC;
//   // border-top-right-radius: 5px;
//   // border-bottom-right-radius: 5px;
// }
// .nav a {
//   text-decoration: none;
//   color: #4A4A4A;
//   text-transform: uppercase;
//   display: block;
//   text-align: center;
//   align-items: center;
//   line-height: 20px;
//   padding-top: 13px;
//   font-size: 12px;
//   height: 100%;
// }
.nav li:hover {
  color: #007bff
}
.active {
  background-color: #2196F3;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  // border-top-left-radius: 5px;
  // border-bottom-left-radius: 5px;
  color: white;
}
// .active a {
//   color: white;
// }
.more {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #2196F3;
  text-transform: uppercase;
  color: white;
}
.alert {
  margin-top: 30px;
}